<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebDoI | About</title>
  <link rel="stylesheet" href="assets/css/equinox.css">
  <script src="assets/js/granim.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
  <div id="gradient">
    <div class="center-screen">
      <div class="card" style="background-color: white">
          <div class="card-body">
          <center><h2 class="card-title">About</h2>
          <hr>
          <h4 class="card-title">WebDoI is a tool that wraps a frontend around<br>the HowDoI tool which allows you to find coding<br>examples easier, without the use of google.</h4>
          <h5 class="subtitle">Created by <a href="https://maxbridgland.com">@maxbridgland</a> as a small side project.<br>Hope you find it useful!<br>Uses the Equinox Bootstrap Theme</h5>
          <hr>
          <h4 class="card-title">How To Find Your Results The Best</h4>
          <h5 class="subtitle">If you want to find a result easily you must<br>use a well formed query. A well formed<br>query uses descriptive keywords to find the<br>most relevant results. Here are a few examples:</h5>
          <code>
# Well formed query
[action] [language]

# Examples
iterate over list python

log values from keys objc

print hello world intel asm

draw box c++
          </code>
          <a class="card-title" href="https://github.com/M4cs/WebDoI">Source Code</a>
          <a href="/" class="card-title">Home</a></center>
      </div>
    </div>
  </div>
</body>
</html>