<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebDoI | Find Snippets</title>
  <link rel="stylesheet" href="assets/css/equinox.css">
  <script src="assets/js/granim.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
  <div id="gradient">
    <div class="center-screen">
      <div class="card" style="background-color: white">
          <div class="card-body">
          <center><h2 class="card-title">HowDoI</h2>
          <hr>
          <h4 class="card-title">Enter Your Query</h4></center>
          <br>
          <form action="/" method="get">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="print python trace back error" name="query" style="text-align: center" required/>
              <br>
              <input type="submit" style="display: none" />
            </div>
          </form>
          <br>
          <center><a href="/about" class="btn btn-light">About</a></center>
      </div>
    </div>
  </div>
</body>
</html>